@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);
  ::-webkit-scrollbar { display: none; }
}

.dark body {
  background-color: #1c1c22;
  color: white;
}

:root {
  --color-primary: #e0e0e5;
  --color-secondary: #ffffff;
  --color-third: #000000cc;
  --color-layout: #f3f4f6;
  --color-accent: #1E90FF;
  --color-accent-hover: #1E90FF;
}

.dark {
  --color-primary: #1c1c22;
  --color-secondary: #27272c;
  --color-third: #ffffffcc;
  --color-layout: #111827  ;
  --color-accent: #00ff99;
  --color-accent-hover: #00c07a;
}
